{% extends 'base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static "css/dashboard.css" %}" />
{%endblock %}

{% block content %}
<div class="switch-container">
  <span>Show Assets Weights variation over time</span>
  <label class="switch">
    <input id="checkboxinp" type="checkbox" />
    <span class="slider round"></span>
  </label>
  <span>Show Portfolio Value variation over time</span>
</div>
<div id="weightsChartContainer"></div>
<div class="canvas-container">
  <canvas id="canvas"></canvas>
</div>

{% endblock %}

{% block scripts %}
  <script>
    function getportfolioValues(){
      return JSON.parse('{{ portfolio_values | escapejs }}');
    }
    function getAssetWeights(){
      return JSON.parse('{{ asset_weights | escapejs }}').assets;
    }
  </script>

  <script src="{% static '/js/dashboard.js' %}"></script>
{% endblock %}
