{% extends 'base.html' %}

{% load static %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static "css/retrieve_data.css" %}" />
{%endblock %}

{% block content %}
  <h1 class="title">
    Welcome to the investment portfolio inspector 
  </h1>
  <form id="portfolio-select-form">
    <div class="form-group">
      <label for="portfolio-select">Select the portfolio you want to inspect:</label>
      <select class="form-control" id="portfolio-select" name="portfolio_name">
        <option disabled selected value> -- select a portfolio -- </option>
        {% for portfolio in portfolios %}
        <option>{{ portfolio.name }}</option>
        {% endfor %}
      </select>
    </div>
  </form>

  <div id="date-range-picker" style="display: none">
    <p>Select Date Range you want to inspect:</p>
    <input type="text" id="daterange" name="daterange" class="form-control" />
    <br />
    <button type="button" id="submit-button" class="btn btn-primary">
      Submit
    </button>
  </div>
{% endblock %}

{% block scripts %}

  <script>
    function getPortfolioDateRangesUrl(){
      return "{% url 'get_portfolio_date_ranges' %}";
    }

    function getRetrieveDataUrl(){
      return "{% url 'retrieve_data' %}";
    }
  </script>
  <script src="{% static '/js/retrieve_data.js' %}"></script>
{% endblock %}
